<form [formGroup]="userForm" (submit)="loginUser()">
  <label for="Username">UserName</label>
  <input formControlName="username" id="username" /><br><br>
  <control-messages [control]="userForm.controls.username"></control-messages>

  <label for="Password">password</label>
  <input formControlName="password" id="password" type="password"/><br>
  <control-messages [control]="userForm.controls.password"></control-messages>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form> 
